@import '../../scss/mixin.scss';

.SideBarMenu{
    background-color: #222;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    width :68px;
    transition: width 0.5s ease-in-out;

    &.expanded{
        width :300px;
    }

    .menuButton{
        display: flex;
        justify-content: flex-end;
    }
    
    .hamburgerButton{
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: white;
        padding: 10px;
        width: 68px;
    }
}